{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체크마블</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <link rel="stylesheet" href="{% static 'css/team_detail.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="team-detail">
                <a href="{% url 'accounts:home' %}" class="back-button"><b><</b></a>
                <h2 class="team-name">{{ team.name }}</h2>
                <button class="invite-btn" onclick="sendKakaoLink('{{team.code}}')">초대코드 공유하기</button>
                <p class="team-goal">목표: {{ team.goal }}</p>
                <p class="team-duration">기간: {{ team.duration }}일</p>
                <p>{{team.code}}</p>

                <div class="story-container">
                    {% for profile in team_members_profiles %}
                        <div class="story-item">
                            <!-- 캐릭터 이미지와 팀원의 이름을 포함하는 컨테이너 -->
                          
                            <div class="story-profile-container">
                                <!-- 팀원들의 캐릭터 이미지 또는 업로드 이미지 표시 -->
                                <div class="story-profile" onClick="showStory(this)" 
                                    data-upload-img="{% if profile.upload_img and profile.is_today %}{{ profile.upload_img }}{% else %}None{% endif %}">
                                    <img src="{% static 'img/'|add:profile.character_image %}" 
                                         alt="character image" class="profile-img">
                                    {% if request.user == profile.member %} <!--로그인한 사용자한테만 수정 버튼 생김-->
                                         <button class="upload-btn" onclick="showUploadForm(event)">+</button>
                                    {% endif %}
                                </div>
                                <!-- 팀원의 이름 표시, 캐릭터 밑에 가까이 위치 -->
                                <p class="profile-name">{{ profile.member.username }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <div>팀원 없음</div>
                    {% endfor %}
                </div>
                
                <!-- 업로드 폼 -->
                <div id="upload-form" class="popup-form hidden">
                    <span class="close-btn" onClick="closeForm()">&times;</span>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'story:upload_image' team_id=team.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="team_id" value="{{ team.id }}">
                        <label for="image">이미지 업로드:</label>
                        <input type="file" id="image" name="img" accept="image/*" required>
                        <button type="submit">업로드</button>
                    </form>
                </div>

                <!-- 팝업 이미지 -->
                <div id="story-popup" class="popup hidden">
                    <span class="close-btn" onClick="closePopUp()">&times;</span>
                    <img class="popup-content" id="popup-img">

                    <!-- 이미지 업로드 URL 및 기타 정보를 전달 -->
                    <button id='create-comment-btn' 
                        data-goal="{{ team.goal }}" 
                        data-duration="{{ team.duration }}" 
                        data-username="{{ profile.member.username }}" 
                        data-uploadimgurl="{{ profile.upload_img }}"
                        onclick="createComment('{{ team.goal }}', '{{ team.duration }}', '{{ profile.member.username }}', '{{ profile.upload_img }}')">openAI 분석 결과</button>
                    <p id="openai-comment"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/board.js' %}"></script>
</body>
</html>